@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

@import url('https://fonts.googleapis.com/css?family=Dosis');
body{
  font-family: 'Dosis', sans-serif;
}
.newHotel {
  margin: 10px;
  text-align: center;
}

.newRes {
  margin: 10px;
  text-align: center;
}

.pics {
  border-radius: 50%;
}
